In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)

accounts = ['ACC123456', 'ACC234567', 'ACC345678', 'ACC456789', 'ACC567890']
merchants = ['ABC Store', 'ATM', 'Employer', 'Stock Exchange', 'XYZ Electronics', 'Online Store', 'Cafe', 'Supermarket']

n_rows = 10000

data = {
    'Transaction ID': np.arange(1000000000, 1000000000 + n_rows),
    'Account ID': np.random.choice(accounts, n_rows),
    'Transaction Amount': np.round(np.random.uniform(10.00, 2000.00, n_rows), 2),
    'Transaction Type': np.random.choice(['Purchase', 'Withdrawal', 'Deposit', 'Trade'], n_rows),
    'Merchant/Counterparty': np.random.choice(merchants, n_rows),
    'Location': np.random.choice(['New York, NY', 'Los Angeles, CA', 'Chicago, IL', 'Miami, FL', 'Online'], n_rows),
    'Date and Time': pd.date_range(start='2024-08-01', periods=n_rows, freq='H').strftime('%Y-%m-%d %H:%M').tolist()
}

pdf = pd.DataFrame(data)

<ipython-input-1-8e5391fd6fea>:18: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  'Date and Time': pd.date_range(start='2024-08-01', periods=n_rows, freq='H').strftime('%Y-%m-%d %H:%M').tolist()

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Anonymization").getOrCreate()

df = spark.createDataFrame(pdf)

df.show(truncate=False)

+--------------+----------+------------------+----------------+---------------------+---------------+----------------+
|Transaction ID|Account ID|Transaction Amount|Transaction Type|Merchant/Counterparty|Location       |Date and Time   |
+--------------+----------+------------------+----------------+---------------------+---------------+----------------+
|1000000000    |ACC456789 |86.8              |Deposit         |Employer             |Los Angeles, CA|2024-08-01 00:00|
|1000000001    |ACC567890 |1758.97           |Withdrawal      |ABC Store            |Chicago, IL    |2024-08-01 01:00|
|1000000002    |ACC345678 |636.72            |Purchase        |XYZ Electronics      |New York, NY   |2024-08-01 02:00|
|1000000003    |ACC567890 |266.67            |Deposit         |Employer             |New York, NY   |2024-08-01 03:00|
|1000000004    |ACC567890 |942.24            |Deposit         |ATM                  |Chicago, IL    |2024-08-01 04:00|
|1000000005    |ACC234567 |1200.63           |Trade           |ABC Store            |New York, NY   |2024-08-01 05:00|
|1000000006    |ACC345678 |71.63             |Trade           |Cafe                 |New York, NY   |2024-08-01 06:00|
|1000000007    |ACC345678 |557.04            |Purchase        |Employer             |Miami, FL      |2024-08-01 07:00|
|1000000008    |ACC345678 |75.27             |Purchase        |XYZ Electronics      |Online         |2024-08-01 08:00|
|1000000009    |ACC567890 |846.47            |Trade           |Supermarket          |Miami, FL      |2024-08-01 09:00|
|1000000010    |ACC456789 |1791.25           |Trade           |Online Store         |Online         |2024-08-01 10:00|
|1000000011    |ACC345678 |1965.48           |Trade           |Supermarket          |Miami, FL      |2024-08-01 11:00|
|1000000012    |ACC567890 |1277.72           |Withdrawal      |Supermarket          |Miami, FL      |2024-08-01 12:00|
|1000000013    |ACC234567 |331.66            |Deposit         |ATM                  |Los Angeles, CA|2024-08-01 13:00|
|1000000014    |ACC456789 |1812.64           |Purchase        |Online Store         |Chicago, IL    |2024-08-01 14:00|
|1000000015    |ACC234567 |1037.33           |Purchase        |XYZ Electronics      |Miami, FL      |2024-08-01 15:00|
|1000000016    |ACC456789 |315.96            |Withdrawal      |XYZ Electronics      |Los Angeles, CA|2024-08-01 16:00|
|1000000017    |ACC567890 |1844.24           |Trade           |XYZ Electronics      |Miami, FL      |2024-08-01 17:00|
|1000000018    |ACC123456 |1517.36           |Deposit         |Online Store         |Chicago, IL    |2024-08-01 18:00|
|1000000019    |ACC456789 |1466.09           |Trade           |Stock Exchange       |Los Angeles, CA|2024-08-01 19:00|
+--------------+----------+------------------+----------------+---------------------+---------------+----------------+
only showing top 20 rows

In [13]:
from pyspark.sql import Window
from pyspark.sql import functions as F

QIs = ["Location","Merchant/Counterparty","Transaction Type"]
sens = "Transaction Amount"

# kâ€‘Anonymity: suppress QIs where group size < k
k = 40
df_k = (
    df
    .withColumn("__grp_cnt", F.count("*").over(Window.partitionBy(*QIs)))
    .withColumns({
        qi: F.when(F.col("__grp_cnt") < k, F.lit(None)).otherwise(F.col(qi))
        for qi in QIs
    })
    .drop("__grp_cnt")
)

# Show rows where Location or Merchant/Counterparty got suppressed
df_k.filter(
    F.col("Location").isNull() | F.col("Merchant/Counterparty").isNull()
).show(vertical=True, truncate=False)

-RECORD 0---------------------------------
 Transaction ID        | 1000000171
 Account ID            | ACC123456
 Transaction Amount    | 1558.96
 Transaction Type      | NULL
 Merchant/Counterparty | NULL
 Location              | NULL
 Date and Time         | 2024-08-08 03:00
-RECORD 1---------------------------------
 Transaction ID        | 1000001070
 Account ID            | ACC567890
 Transaction Amount    | 856.86
 Transaction Type      | NULL
 Merchant/Counterparty | NULL
 Location              | NULL
 Date and Time         | 2024-09-14 14:00
-RECORD 2---------------------------------
 Transaction ID        | 1000001765
 Account ID            | ACC345678
 Transaction Amount    | 285.17
 Transaction Type      | NULL
 Merchant/Counterparty | NULL
 Location              | NULL
 Date and Time         | 2024-10-13 13:00
-RECORD 3---------------------------------
 Transaction ID        | 1000001857
 Account ID            | ACC567890
 Transaction Amount    | 1196.1
 Transaction Type      | NULL
 Merchant/Counterparty | NULL
 Location              | NULL
 Date and Time         | 2024-10-17 09:00
-RECORD 4---------------------------------
 Transaction ID        | 1000001956
 Account ID            | ACC456789
 Transaction Amount    | 1877.55
 Transaction Type      | NULL
 Merchant/Counterparty | NULL
 Location              | NULL
 Date and Time         | 2024-10-21 12:00
-RECORD 5---------------------------------
 Transaction ID        | 1000002040
 Account ID            | ACC456789
 Transaction Amount    | 442.11
 Transaction Type      | NULL
 Merchant/Counterparty | NULL
 Location              | NULL
 Date and Time         | 2024-10-25 00:00
-RECORD 6---------------------------------
 Transaction ID        | 1000002085
 Account ID            | ACC234567
 Transaction Amount    | 1530.55
 Transaction Type      | NULL
 Merchant/Counterparty | NULL
 Location              | NULL
 Date and Time         | 2024-10-26 21:00
-RECORD 7---------------------------------
 Transaction ID        | 1000002458
 Account ID            | ACC123456
 Transaction Amount    | 173.64
 Transaction Type      | NULL
 Merchant/Counterparty | NULL
 Location              | NULL
 Date and Time         | 2024-11-11 10:00
-RECORD 8---------------------------------
 Transaction ID        | 1000002503
 Account ID            | ACC123456
 Transaction Amount    | 1948.32
 Transaction Type      | NULL
 Merchant/Counterparty | NULL
 Location              | NULL
 Date and Time         | 2024-11-13 07:00
-RECORD 9---------------------------------
 Transaction ID        | 1000002588
 Account ID            | ACC123456
 Transaction Amount    | 1732.2
 Transaction Type      | NULL
 Merchant/Counterparty | NULL
 Location              | NULL
 Date and Time         | 2024-11-16 20:00
-RECORD 10--------------------------------
 Transaction ID        | 1000002834
 Account ID            | ACC456789
 Transaction Amount    | 270.09
 Transaction Type      | NULL
 Merchant/Counterparty | NULL
 Location              | NULL
 Date and Time         | 2024-11-27 02:00
-RECORD 11--------------------------------
 Transaction ID        | 1000002989
 Account ID            | ACC234567
 Transaction Amount    | 452.82
 Transaction Type      | NULL
 Merchant/Counterparty | NULL
 Location              | NULL
 Date and Time         | 2024-12-03 13:00
-RECORD 12--------------------------------
 Transaction ID        | 1000003101
 Account ID            | ACC234567
 Transaction Amount    | 1512.41
 Transaction Type      | NULL
 Merchant/Counterparty | NULL
 Location              | NULL
 Date and Time         | 2024-12-08 05:00
-RECORD 13--------------------------------
 Transaction ID        | 1000003182
 Account ID            | ACC123456
 Transaction Amount    | 1884.53
 Transaction Type      | NULL
 Merchant/Counterparty | NULL
 Location              | NULL
 Date and Time         | 2024-12-11 14:00
-RECORD 14--------------------------------
 Transaction ID        | 1000003522
 Account ID            | ACC567890
 Transaction Amount    | 784.35
 Transaction Type      | NULL
 Merchant/Counterparty | NULL
 Location              | NULL
 Date and Time         | 2024-12-25 18:00
-RECORD 15--------------------------------
 Transaction ID        | 1000003573
 Account ID            | ACC234567
 Transaction Amount    | 1803.44
 Transaction Type      | NULL
 Merchant/Counterparty | NULL
 Location              | NULL
 Date and Time         | 2024-12-27 21:00
-RECORD 16--------------------------------
 Transaction ID        | 1000003633
 Account ID            | ACC123456
 Transaction Amount    | 678.96
 Transaction Type      | NULL
 Merchant/Counterparty | NULL
 Location              | NULL
 Date and Time         | 2024-12-30 09:00
-RECORD 17--------------------------------
 Transaction ID        | 1000004095
 Account ID            | ACC234567
 Transaction Amount    | 1501.56
 Transaction Type      | NULL
 Merchant/Counterparty | NULL
 Location              | NULL
 Date and Time         | 2025-01-18 15:00
-RECORD 18--------------------------------
 Transaction ID        | 1000004346
 Account ID            | ACC456789
 Transaction Amount    | 555.24
 Transaction Type      | NULL
 Merchant/Counterparty | NULL
 Location              | NULL
 Date and Time         | 2025-01-29 02:00
-RECORD 19--------------------------------
 Transaction ID        | 1000004473
 Account ID            | ACC456789
 Transaction Amount    | 1774.2
 Transaction Type      | NULL
 Merchant/Counterparty | NULL
 Location              | NULL
 Date and Time         | 2025-02-03 09:00
only showing top 20 rows